*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header{
    position: absolute;
    top: 5px;
    margin-top: 47px;
    margin-left: 42px;
}

.link-header{
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #17233D;
    cursor: pointer;
    margin-right: 32px;
    text-align: center;
    letter-spacing: 0.875px;
}

.logo-img{
    margin-left: 121px;
    display: inline-block;
    margin-top: 163px;
}

.button-header{
    background: #6FBF44;
    border: 1px solid #4CB538;
    border-radius: 6px;
    font-weight: 500;
    width: 124px;
    height: 51px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
}

section{
    display: inline-block;
    margin-left: 84px;
    width: 493px;
}

h1{
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    color: #161A49;
}

p{
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4B505A;
    margin-top: 47px;
    margin-bottom: 55px;
    height: 99px;
}

.button-main{
    background: transparent;
    border: none;
    cursor: pointer;
    color: #6FBF44;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
    margin-top: 20px;
}

.link-header:hover{
    opacity: 0.8;
}

.link-header:active{
    opacity: 0.6;
}


.button-main:hover{
    opacity: 0.8;
}

.button-main:active{
    opacity: 0.6;
}

.button-header:hover{
    opacity: 0.8;
}

.button-header:active{
    opacity: 0.5;
}





@media screen and (max-width: 750px){
    
section {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
        
.link-header {
    display: none;
}
        
.logo-img {
    width: 280px;
    height: auto;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
        
h1 {
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    width: 90%;
    max-width: 400px;
    margin: 20px auto;
    order: 2;
}
        
p {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    width: 90%;
    max-width: 350px;
    margin: 15px auto;
    height: auto;
    order: 3;
}

.button-main {
    width: 200px;
    padding: 12px 24px;
    margin: 20px auto;
    order: 4;
    position: static;
}
      }